.header
{

display: flex;
width: 100%;
height: 100px;
background: orange;
}

.logo {
    width: 300px;
    position: relative;
.logo > img {
        width: 200px;
        position: absolute;
        left: 10px;
        right: 10px;

}
.navigation  {
   width: 50%;
   display: flex;
   background: green;
}
.navigation > ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
 
.navigation > ul > li {
    list-style: none;
      
}
.navigation > ul > li > a {
    font-size: 14px;
    font-weight: bold;
    font-family: sans-serif;
    color: blueviolet;
    text-decoration: none;
}

.search {
    width: 25%;
    background: yellow;
    display: flex;
    align-items: center;
    justify-content: center;

}
.search >img {
   width: 20px;
  
  

}